fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

google-genai
google-cloud-aiplatform[agent_engines,adk]>=1.101.0

httpx
requests

python-multipart

ffmpeg-python

pytest
pytest-asyncio